body {
  background-image: url("..\\..\\Images\\green-design-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  text-align: center;
}

#My_photo {
  float: left;
}
