body {
      margin: 0px;
}

header {
  background-color: #F1634F;
  padding: 67px 0px;
}

header > h1 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  margin: 0px 0px 40px 0px;
}
