body {
      margin: 0px;
}

header {
  background-color: #F1634F;
  padding: 67px 0px;
}

header > h1 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  margin: 0px 0px 40px 0px;
}

header > ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
  list-style: none;
}

ul > li {
  display: inline;
  margin: 0px 5px;
}

li > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

section > h3 {
  margin: 0 0 40px 0;
}

section {
  padding: 60px 80px;
}

#about > p {
  float: right;
  width: 60%;
}

#about > div {
  width: 40%;
  display: inline-block;
}

#about > div > img {
  width: 90%;
}
